// ARGS: -t
(
	version : (0, 0, 1),
	program : (
		types : {0:I32},
		funclets : {
			0 : (
                // empty funclet - should remain empty, not cause crashes, etc
                kind : MixedImplicit,
                input_types : [],
                output_types : [],
                nodes : [],
                tail_edge : Return(return_values : []) 
            ),
            1 : (
                // every node is used, nothing should be changed
                kind : MixedImplicit,
                input_types : [0],
                output_types : [0],
                nodes : [
                    Phi(index : 0),
                    CallExternalCpu(external_function_id : 0, arguments : [0]),
                    ExtractResult(node_id : 1, index : 0),
                ],
                tail_edge : Return(return_values : [2]) 
            ),
            2 : (
                // no nodes are used, they should all be pruned
                kind : MixedImplicit,
                input_types : [0],
                output_types : [],
                nodes : [
                    Phi(index : 0),
                    CallExternalCpu(external_function_id : 0, arguments : [0]),
                    ExtractResult(node_id : 1, index : 0),
                ],
                tail_edge : Return(return_values : []) 
            ),
            3 : (
                kind : MixedImplicit,
                input_types : [0],
                output_types : [0],
                nodes : [
                    Phi(index : 0),
                    CallExternalCpu(external_function_id : 0, arguments : []),
                    ExtractResult(node_id : 1, index : 0),
                    CallExternalCpu(external_function_id : 1, arguments : [2]),
                    ExtractResult(node_id : 3, index : 0),
                    CallExternalCpu(external_function_id : 2, arguments: [0]),
                    ExtractResult(node_id : 5, index : 0)
                ],
                tail_edge : Return(return_values : [4]) 
            ),
            4 : (
                kind : MixedImplicit,
                input_types : [0, 0, 0, 0],
                output_types : [0, 0],
                nodes : [
                    Phi(index : 0),
                    Phi(index : 1),
                    Phi(index : 2),
                    Phi(index : 3),

                    CallExternalCpu(external_function_id : 0, arguments : [0, 2]),
                    ExtractResult(node_id : 4, index : 0),

                    CallExternalCpu(external_function_id : 0, arguments : [1, 3]),
                    ExtractResult(node_id : 6, index : 0),

                    ConstantInteger(value : 42, type_id : 0),
                    CallExternalCpu(external_function_id : 0, arguments : [3, 8]),
                    ExtractResult(node_id : 9, index : 0),

                    CallExternalCpu(external_function_id : 0, arguments : [5, 8]),
                    ExtractResult(node_id : 11, index : 0)
                ],
                tail_edge : Return(return_values : [1, 12]) 
            )
        }
	)
)