/target
.DS_Store
a.out

# testing
*.log
*.debug
*.result
caiman-test/src/bin/*
caiman-test/src/*
!caiman-test/src/util.rs
high-level-caiman/src/parse/parser.rs

# IDE
*.sublime-project
*.sublime-workspace
