(
	operations : [
		// Essential nodes
		// These are mostly artifacts of program encoding
		(
			name : "None",
			inputs : [],
			output : None,
			language_set : (functional : true, scheduling: true, timeline : true, spatial : true, intrinsic : true),
			has_local_side_effect : false
		),
		(
			name : "Phi",
			inputs : [
				(name : "index", kind : Index),
			],
			output : Single,
			language_set : (functional : true, scheduling: true, timeline : true, spatial : true, intrinsic : true),
			has_local_side_effect : false
		),
		(
			name : "ExtractResult",
			inputs : [
				(name : "node_id", kind : Operation),
				(name : "index", kind : Index),
			],
			output : Single,
			language_set : (functional : true, scheduling: true, timeline : true, spatial : true, intrinsic : true),
			has_local_side_effect : false
		),
		(
			name : "ConstantInteger",
			inputs : [
				(name : "value", kind : ImmediateI64),
				(name : "type_id", kind : Type),
			],
			output : Single,
			language_set : (functional : true, scheduling: false, timeline : false, spatial : false, intrinsic : true),
			has_local_side_effect : false
		),
		(
			name : "ConstantUnsignedInteger",
			inputs : [
				(name : "value", kind : ImmediateU64),
				(name : "type_id", kind : Type),
			],
			output : Single,
			language_set : (functional : true, scheduling: false, timeline : false, spatial : false, intrinsic : true),
			has_local_side_effect : false
		),

		// Value function nodes
		// Unlikely to have any meaning when evaluated
		(
			name : "CallValueFunction",
			inputs : [
				(name : "function_id", kind : ValueFunction),
				(name : "arguments", kind : Operation, is_array : true)
			],
			output : Multiple,
			language_set : (functional : true, scheduling: false, timeline : false, spatial : false, intrinsic : false),
			has_local_side_effect : false
		),
		(
			name : "Select",
			inputs : [
				(name : "condition", kind : Operation),
				(name : "true_case", kind : Operation),
				(name : "false_case", kind : Operation),
			],
			output : Single,
			language_set : (functional : true, scheduling: false, timeline : false, spatial : false, intrinsic : false),
			has_local_side_effect : false
		),

		// Intrinsic nodes
		// exposes functionality that should be used with caution to implement other functionality
		(
			name : "CallExternalCpu",
			inputs : [
				(name : "external_function_id", kind : ExternalCpuFunction),
				(name : "arguments", kind : Operation, is_array : true)
			],
			output : Multiple,
			language_set : (functional : true, scheduling: false, timeline : false, spatial : false, intrinsic : true),
			has_local_side_effect : false
		),
		(
			name : "CallExternalGpuCompute",
			inputs : [
				(name : "external_function_id", kind : ExternalGpuFunction),
				(name : "dimensions", kind : Operation, is_array : true),
				(name : "arguments", kind : Operation, is_array : true)
			],
			output : Multiple,
			language_set : (functional : true, scheduling: false, timeline : false, spatial : false, intrinsic : true),
			has_local_side_effect : false
		),

		// Old scheduling nodes
		// Likely to disappear
		/*(
			name : "SyncLocal",
			inputs : [
				(name : "values", kind : Operation, is_array : true)
			],
			output : None,
			language_set : (functional : false, scheduling: true, timeline : false, spatial : false, intrinsic : false),
			has_local_side_effect : true
		),
		(
			name : "EncodeGpu",
			inputs : [
				(name : "values", kind : Operation, is_array : true)
			],
			output : None,
			language_set : (functional : false, scheduling: true, timeline : false, spatial : false, intrinsic : false),
			has_local_side_effect : true
		),*/

		// These are convenience instructions that rely on codegen doing some questionable magic
		// Don't expect these to be predictable
		// It's possible for them to do the worst thing possible that is still legal without knowing the future
		(
			name : "AllocTemporary",
			inputs : [
				(name : "place", kind : Place),
				(name : "storage_type", kind : StorageType),
				(name : "operation", kind : RemoteOperation)
			],
			output : Single,
			language_set : (functional : false, scheduling: true, timeline : false, spatial : false, intrinsic : true),
			has_local_side_effect : true
		),

		// State management
		(
			name : "UnboundSlot",
			inputs : [
				(name : "place", kind : Place),
				(name : "storage_type", kind : StorageType),
				(name : "operation", kind : RemoteOperation),
				//(name : "space", kind : RemoteOperation),
			],
			output : Single,
			language_set : (functional : false, scheduling: true, timeline : false, spatial : false, intrinsic : false),
			has_local_side_effect : true
		),
		(
			name : "Drop",
			inputs : [
				(name : "node", kind : Operation)
			],
			output : None,
			language_set : (functional : false, scheduling: true, timeline : false, spatial : false, intrinsic : false),
			has_local_side_effect : true
		),
		(
			name : "StaticAllocFromStaticBuffer",
			inputs : [
				(name : "buffer", kind : Operation),
				(name : "place", kind : Place),
				(name : "storage_type", kind : StorageType),
				(name : "operation", kind : RemoteOperation)
			],
			output : Single,
			language_set : (functional : false, scheduling: true, timeline : false, spatial : false, intrinsic : true),
			has_local_side_effect : true
		),

		// These are your basic scheduling instructions for manipulating command buffer submissions to queues
		(
			name : "EncodeDo",
			inputs : [
				(name : "place", kind : Place),
				(name : "operation", kind : RemoteOperation),
				(name : "inputs", kind : Operation, is_array : true),
				(name : "outputs", kind : Operation, is_array : true)
			],
			output : None,
			language_set : (functional : false, scheduling: true, timeline : false, spatial : false, intrinsic : false),
			has_local_side_effect : true
		),
		(
			name : "EncodeCopy",
			inputs : [
				(name : "place", kind : Place),
				(name : "input", kind : Operation),
				(name : "output", kind : Operation)
			],
			output : None,
			language_set : (functional : false, scheduling: true, timeline : false, spatial : false, intrinsic : false),
			has_local_side_effect : true
		),
		(
			name : "Submit",
			inputs : [
				(name : "place", kind : Place),
				(name : "event", kind : RemoteOperation)
			],
			output : None,
			language_set : (functional : false, scheduling: true, timeline : false, spatial : false, intrinsic : false),
			has_local_side_effect : true
		),
		(
			name : "EncodeFence",
			inputs : [
				(name : "place", kind : Place),
				(name : "event", kind : RemoteOperation)
			],
			output : None,
			language_set : (functional : false, scheduling: true, timeline : false, spatial : false, intrinsic : false),
			has_local_side_effect : true
		),
		(
			name : "SyncFence",
			inputs : [
				(name : "place", kind : Place),
				(name : "fence", kind : Operation),
				(name : "event", kind : RemoteOperation)
			],
			output : None,
			language_set : (functional : false, scheduling: true, timeline : false, spatial : false, intrinsic : false),
			has_local_side_effect : true
		),
		(
			name : "InlineJoin",
			inputs : [
				(name : "funclet", kind : Funclet),
				(name : "captures", kind : Operation, is_array : true),
				(name : "continuation", kind : Operation),
			],
			output : Single,
			language_set : (functional : false, scheduling: true, timeline : false, spatial : false, intrinsic : false),
			has_local_side_effect : true
		),
		(
			name : "SerializedJoin",
			inputs : [
				(name : "funclet", kind : Funclet),
				(name : "captures", kind : Operation, is_array : true),
				(name : "continuation", kind : Operation),
			],
			output : Single,
			language_set : (functional : false, scheduling: true, timeline : false, spatial : false, intrinsic : false),
			has_local_side_effect : true
		),
		(
			name : "DefaultJoin",
			inputs : [],
			output : Single,
			language_set : (functional : false, scheduling: true, timeline : false, spatial : false, intrinsic : false),
			has_local_side_effect : true
		),

		// Timeline nodes
		(
			name : "SubmissionEvent",
			inputs : [
				(name : "here_place", kind : Place),
				(name : "there_place", kind : Place),
				(name : "local_past", kind : Operation),
			],
			output : Single,
			language_set : (functional : false, scheduling: false, timeline : true, spatial : false, intrinsic : false),
			has_local_side_effect : false
		),
		(
			name : "SynchronizationEvent",
			inputs : [
				(name : "here_place", kind : Place),
				(name : "there_place", kind : Place),
				(name : "local_past", kind : Operation),
				(name : "remote_local_past", kind : Operation), // Round trip: What does the remote agent know the local agent knows as its event history (the last submission)?
			],
			output : Single,
			language_set : (functional : false, scheduling: false, timeline : true, spatial : false, intrinsic : false),
			has_local_side_effect : false
		),

		// Space nodes
		(
			name : "SeparatedLinearSpace",
			inputs : [
				(name : "place", kind : Place),
				(name : "space", kind : Operation),
			],
			output : Multiple,
			language_set : (functional : false, scheduling: false, timeline : false, spatial : true, intrinsic : false),
			has_local_side_effect : false
		),
		(
			name : "MergedLinearSpace",
			inputs : [
				(name : "place", kind : Place),
				(name : "spaces", kind : Operation, is_array : true),
			],
			output : Multiple,
			language_set : (functional : false, scheduling: false, timeline : false, spatial : true, intrinsic : false),
			has_local_side_effect : false
		),
	]
)
