(
	version : (0, 0, 2),
	program : (
		explicate : false,
		native_interface : (
			types : {
				0 : I32,
			},
			external_functions : {
				2 : CpuPureOperation((name : "do_thing_on_cpu", input_types : [0], output_types : [0])),
				0 : GpuKernel((
					name : "do_thing_on_gpu", input_types : [0], output_types : [0], entry_point : "main", resource_bindings : [(group : 0, binding : 0, input : Some(0), output : None), (group : 0, binding : 1, input : None, output : Some(0))],
					dimensionality : 3,
					shader_module : Glsl
					("
						#version 450
						layout(set = 0, binding = 0) readonly buffer Input_0 {
							int field_0;
						} input_0;
						layout(set = 0, binding = 1) buffer Output_0 {
							int field_0;
						} output_0;
						layout(local_size_x = 1, local_size_y = 1, local_size_z = 1) in;
						void main() {
							output_0.field_0 = input_0.field_0 + 1;
						}
					")
				)),
				1 : GpuKernel((
					name : "do_thing_on_gpu_2", input_types : [0], output_types : [0], entry_point : "main", resource_bindings : [(group : 0, binding : 0, input : Some(0), output : Some(0))],
					dimensionality : 0,
					shader_module : Glsl
					("
						#version 450
						layout(set = 0, binding = 0) buffer InputOutput_0 {
							int field_0;
						} input_output_0;
						layout(local_size_x = 1, local_size_y = 1, local_size_z = 1) in;
						void main() {
							input_output_0.field_0 = input_output_0.field_0 + 1;
						}
					")
				)),
				3 :  CpuEffectfulOperation((
					name : "loop",
					input_types : [],
					output_types : [],
				))
			},
			effects : {
				0 : FullyConnected(effectful_function_ids : [3])
			}
		),
		function_classes : {
			1 : (name : "looping_value_function", input_types : [0], output_types : [0]),
			2 : (name : "looping_timeline_function", input_types : [2, 2], output_types : [2, 2]),
			3 : (name : "external_yield", input_types : [2], output_types : [2], external_function_ids : [3]),
			4 : (input_types : [0], output_types : [0], external_function_ids : [0]),
			5 : (input_types : [0], output_types : [0], external_function_ids : [1])
		},
		types : {
			0 : NativeValue(storage_type : 0),
			1 : Ref(storage_type : 0, storage_place : Local ),
			2 : Event,
			3 : Ref(storage_type : 0, storage_place : Gpu ),
			4 : Fence( queue_place : Gpu ),
			5 : Ref(storage_type : 0, storage_place : Gpu ),
			6 : Buffer(storage_place : Gpu, static_layout_opt : Some((alignment_bits : 0, byte_size : 4096)) ),
			7 : BufferSpace,
		},
		funclets : {
			18 : (
				kind : Spatial,
				input_types : [7],
				output_types : [7],

				nodes : [
					Phi(index : 0),
				],
				tail_edge : Return(return_values : [0])
			),

			19 : (
				kind : Value,
				input_types : [0],
				output_types : [0],
				spec_binding : Value(value_function_id_opt : Some(1)),
				nodes : [
					Phi(index : 0),
					CallFunctionClass(function_id : 5, arguments : [0]),
					ExtractResult(node_id : 1, index : 0),
					CallFunctionClass(function_id : 1, arguments : [2]),
					ExtractResult(node_id : 3, index : 0),
				],
				tail_edge : Return(return_values : [4])
			),

			20 : (
				kind : ScheduleExplicit,
				input_types : [3, 4],
				output_types : [3, 4],
				spec_binding : ScheduleExplicit(
					value : (
						funclet_id_opt : Some(19),
						input_tags : [(quot: Input(index : 0), flow: Have), (quot: None, flow: Have)],
						output_tags : [(quot: Output(index : 0), flow: Have), (quot: None, flow: Have)]
					),
					spatial : (
						funclet_id_opt : Some(18),
						input_tags : [(quot: Node(node_id : 0), flow: Have), (quot: None, flow: Have)],
						output_tags : [(quot: Node(node_id : 0), flow: Have), (quot: None, flow: Have)]
					),
					timeline : (
						funclet_id_opt : Some(22),
						input_tags : [(quot: Input(index : 1), flow: Have), (quot: Input(index : 1), flow: Have)],
						output_tags : [(quot: Output(index : 1), flow: Have), (quot: Output(index : 1), flow: Have)],
						implicit_in_tag : (quot: Input(index : 0), flow: Have),
						implicit_out_tag : (quot: Output(index : 0), flow: Have)
					)
				),
				nodes : [
					Phi(index : 0),
					Phi(index : 1),
					BeginEncoding(place : Gpu, event: Node(node_id : 2), encoded : [0], fences : [1]),
					EncodeDoExternal(encoder : 2, operation : Node(funclet_id : 19, node_id : 1), external_function_id : 1, inputs : [0], outputs : [0]),
					Submit(encoder : 2, event : Node(node_id : 5)),
					DefaultJoin,
					InlineJoin(funclet : 21, captures : [0, 4], continuation : 5),
				],
				tail_edge : ScheduleCallYield(value_operation: None, timeline_operation: Node(node_id: 6), spatial_operation: None, external_function_id : 3, yielded_nodes : [], continuation_join : 6 )
				//tail_edge : ScheduleCall(value_operation : (funclet_id : 19, node_id : 3), callee_funclet_id : 20, callee_arguments : [1], continuation_join : 3)
			),

			21 : (
				kind : ScheduleExplicit,
				input_types : [3, 4],
				output_types : [3, 4],
				spec_binding : ScheduleExplicit(
					value : (
						funclet_id_opt : Some(19),
						input_tags : [(quot: Node(node_id : 2), flow: Have), (quot: None, flow: Have)],
						output_tags : [(quot: Output(index : 0), flow: Have), (quot: None, flow: Have)]
					),
					spatial : (
						funclet_id_opt : Some(18),
						input_tags : [(quot: Node(node_id : 0), flow: Have), (quot: None, flow: Have)],
						output_tags : [(quot: Node(node_id : 0), flow: Have), (quot: None, flow: Have)]
					),
					timeline : (
						funclet_id_opt : Some(22),
						input_tags : [(quot: Node(node_id : 5), flow: Have), (quot: Node(node_id : 5), flow: Have)],
						output_tags : [(quot: Output(index : 1), flow: Have), (quot: Output(index : 1), flow: Have)],
						implicit_in_tag : (quot: Node(node_id : 7), flow: Have),
						implicit_out_tag : (quot: Output(index : 0), flow: Have)
					)
				),
				nodes : [
					Phi(index : 0),
					Phi(index : 1),
					DefaultJoin,
					InlineJoin(funclet : 23, captures : [], continuation : 2),
				],
				tail_edge : ScheduleCall(value_operation : Node(node_id : 3), timeline_operation : Node(node_id : 8), spatial_operation : None, callee_funclet_id : 20, callee_arguments : [0, 1], continuation_join : 3)
			),


			22 : (
				kind : Timeline,
				input_types : [2, 2],
				output_types : [2, 2],
				spec_binding : Timeline(function_class_id_opt: Some(2)),
				nodes : [
					Phi(index : 0),
					Phi(index : 1),
					EncodingEvent(local_past: 0, remote_local_pasts : [1]), // Needs remote_local_past variant for previously encoded
					ExtractResult(node_id: 2, index: 0),
					ExtractResult(node_id: 2, index: 1),
					SubmissionEvent(local_past : 4),
					// Yield
					CallFunctionClass(function_id : 3, arguments : [3]),
					ExtractResult(node_id: 6, index: 0),
					// Recurse
					CallFunctionClass(function_id : 2, arguments : [7, 5]),
					ExtractResult(node_id: 8, index: 0),
					ExtractResult(node_id: 8, index: 1),
				],
				tail_edge : Return(return_values : [9, 10])
			),

			23 : (
				kind : ScheduleExplicit,
				input_types : [3, 4],
				output_types : [3, 4],
				spec_binding : ScheduleExplicit(
					value : (
						funclet_id_opt : Some(19),
						input_tags : [(quot: Node(node_id : 4), flow: Have), (quot: None, flow: Have)],
						output_tags : [(quot: Output(index : 0), flow: Have), (quot: None, flow: Have)]
					),
					spatial : (
						funclet_id_opt : Some(18),
						input_tags : [(quot: Node(node_id : 0), flow: Have), (quot: None, flow: Have)],
						output_tags : [(quot: Node(node_id : 0), flow: Have), (quot: None, flow: Have)]
					),
					timeline : (
						funclet_id_opt : Some(22),
						input_tags : [(quot: Node(node_id : 10), flow: Have), (quot: Node(node_id : 10), flow: Have)],
						output_tags : [(quot: Output(index : 1), flow: Have), (quot: Output(index : 1), flow: Have)],
						implicit_in_tag : (quot: Node(node_id : 9), flow: Have),
						implicit_out_tag : (quot: Output(index : 0), flow: Have)
					)
				),
				nodes : [
					Phi(index : 0),
					Phi(index : 1),
				],
				tail_edge : Return(return_values : [0, 1])
			),

		},
		pipelines : [
			(
				name : "looping_pipeline",
				entry_funclet : 20,
				effect_id_opt : Some(0)
				/*yield_points : {
					(0) :  (
						name : "loop",
						yielded_types : [],
						resuming_types : [],
						yielded_timeline_tag : Output(funclet_id : 22, index : 0),
						resuming_timeline_tag : Input(funclet_id : 22, index : 0),
						spatial_funclet_id : 18
					)
				}*/
			),
		]
	)
)