(
	version : (0, 0, 2),
	program : (
		explicate : false,
		native_interface : (
			types : {
				0 : I32,
			},
			external_functions : {
				2 : CpuPureOperation((name : "do_thing_on_cpu", input_types : [0], output_types : [0])),
				0 : GpuKernel((
					name : "do_thing_on_gpu", input_types : [0], output_types : [0], entry_point : "main", resource_bindings : [(group : 0, binding : 0, input : Some(0), output : None), (group : 0, binding : 1, input : None, output : Some(0))],
					shader_module : Glsl
					("
						#version 450
						layout(set = 0, binding = 0) readonly buffer Input_0 {
							int field_0;
						} input_0;
						layout(set = 0, binding = 1) buffer Output_0 {
							int field_0;
						} output_0;
						layout(local_size_x = 1, local_size_y = 1, local_size_z = 1) in;
						void main() {
							output_0.field_0 = input_0.field_0 + 1;
						}
					")
				)),
				1 : GpuKernel((
					name : "do_thing_on_gpu_2", input_types : [0], output_types : [0], entry_point : "main", resource_bindings : [(group : 0, binding : 0, input : Some(0), output : Some(0))],
					shader_module : Glsl
					("
						#version 450
						layout(set = 0, binding = 0) buffer InputOutput_0 {
							int field_0;
						} input_output_0;
						layout(local_size_x = 1, local_size_y = 1, local_size_z = 1) in;
						void main() {
							input_output_0.field_0 = input_output_0.field_0 + 1;
						}
					")
				))
			},
		),
		types : {
			0 : NativeValue(storage_type : 0),
			1 : Slot(storage_type : 0, queue_stage : Ready, queue_place : Local ),
			2 : Event(place : Local),
			3 : Slot(storage_type : 0, queue_stage : Submitted, queue_place : Gpu ),
			4 : Fence( queue_place : Gpu ),
			5 : Slot(storage_type : 0, queue_stage : Ready, queue_place : Gpu ),
			6 : Buffer(storage_place : Gpu, static_layout_opt : Some((alignment_bits : 0, byte_size : 4096)) ),
			7 : BufferSpace,
		},
		funclets : {
			9 : (
				kind : Value,
				input_types : [0],
				output_types : [0],
				nodes : [
					Phi(index : 0),
					Constant(value: I64(1), type_id : 0),
					CallExternalGpuCompute(external_function_id : 0, arguments : [0], dimensions : [1, 1, 1]),
					ExtractResult(node_id : 2, index : 0),
				],
				tail_edge : Return(return_values : [3])
			),
			10 : (
				kind : Value,
				input_types : [0],
				output_types : [0],
				nodes : [
					Phi(index : 0),
					CallValueFunction(function_id : 0, arguments : [0]),
					ExtractResult(node_id : 1, index : 0),
				],
				tail_edge : Return(return_values : [2])
			),

			11 : (
				kind : ScheduleExplicit,
				input_types : [1],
				output_types : [1],
				spec_binding : ScheduleExplicit(
					value : (
						funclet_id_opt : Some(0),
						input_tags : [Input(index : 0)],
						output_tags : [None]
					),
					spatial : (
						funclet_id_opt : Some(18),
						input_tags : [None],
						output_tags : [None]
					),
					timeline : (
						funclet_id_opt : Some(15),
						input_tags : [None],
						output_tags : [None],
						implicit_in_tag : Input(index : 0),
						implicit_out_tag : Output(index : 0)
					)
				),
				nodes : [
					Phi(index : 0),
					AllocTemporary(place : Local, storage_type : 0, operation : (funclet_id : 0, node_id : 1)),
					EncodeDo(place : Local, operation : (funclet_id : 0, node_id : 1), inputs : [], outputs : [1]),
					AllocTemporary(place : Local, storage_type : 0, operation : (funclet_id : 0, node_id : 3)),
					EncodeDo(place : Local, operation : (funclet_id : 0, node_id : 2), inputs : [0], outputs : [3]),
					AllocTemporary(place : Gpu, storage_type : 0, operation : (funclet_id : 0, node_id : 3)),
					EncodeCopy(place : Gpu, input : 3, output : 5),
					AllocTemporary(place : Gpu, storage_type : 0, operation : (funclet_id : 0, node_id : 4)),
					EncodeDo(place : Gpu, operation : (funclet_id : 0, node_id : 4), inputs : [1, 1, 1, 5], outputs : [7]),
					AllocTemporary(place : Local, storage_type : 0, operation : (funclet_id : 0, node_id : 4)),
					Submit(place : Gpu, event : (funclet_id : 15, node_id : 1)),
					EncodeFence(place : Gpu, event : (funclet_id : 15, node_id : 1)),
					SyncFence(place : Local, fence : 11, event : (funclet_id : 15, node_id : 2)),
					EncodeCopy(place : Local, input : 7, output : 9),
				],
				tail_edge : Return(return_values : [9])
			),

			12 : (
				kind : ScheduleExplicit,
				input_types : [1],
				//output_types : [3, 4, 3],
				output_types : [1],
				spec_binding : ScheduleExplicit(
					value : (
						funclet_id_opt : Some(9),
						input_tags : [Input(index : 0)],
						output_tags : [Output(index : 0)]
					),
					spatial : (
						funclet_id_opt : Some(18),
						input_tags : [None],
						output_tags : [None]
					),
					timeline : (
						funclet_id_opt : Some(15),
						input_tags : [None],
						output_tags : [None],
						implicit_in_tag : Node(node_id : 0),
						implicit_out_tag : Node(node_id : 2)
					)
				),
				nodes : [
					Phi(index : 0),
					AllocTemporary(place : Local, storage_type : 0, operation : (funclet_id : 9, node_id : 1)),
					EncodeDo(place : Local, operation : (funclet_id : 9, node_id : 1), inputs : [], outputs : [1]),
					AllocTemporary(place : Gpu, storage_type : 0, operation : (funclet_id : 9, node_id : 0)),
					EncodeCopy(place : Gpu, input : 0, output : 3),
					AllocTemporary(place : Gpu, storage_type : 0, operation : (funclet_id : 9, node_id : 3)),
					EncodeDo(place : Gpu, operation : (funclet_id : 9, node_id : 2), inputs : [1, 1, 1, 3], outputs : [5]),
					//AllocTemporary(place : Local, storage_type : 0, operation : (funclet_id : 9, node_id : 3)),
					None,
					Submit(place : Gpu, event : (funclet_id : 15, node_id : 1)),
					EncodeFence(place : Gpu, event : (funclet_id : 15, node_id : 1)),
					//SyncFence(place : Local, fence : 9, event : (funclet_id : 15, node_id : 2)),
					//EncodeCopy(place : Local, input : 5, output : 7),
					DefaultJoin,
					InlineJoin(funclet : 16, captures : [], continuation : 10),
				],
				tail_edge : Jump(join : 11, arguments : [5, 9, 3])
				//tail_edge : Return(return_values : [5, 9, 3])
			),

			13 : (
				kind : ScheduleExplicit,
				input_types : [1],
				output_types : [1],
				spec_binding : ScheduleExplicit(
					value : (
						funclet_id_opt : Some(10),
						input_tags : [Input(index : 0)],
						output_tags : [Output(index : 0)]
					),
					spatial : (
						funclet_id_opt : Some(18),
						input_tags : [None],
						output_tags : [None]
					),
					timeline : (
						funclet_id_opt : Some(15),
						input_tags : [None],
						output_tags : [None],
						implicit_in_tag : Input(index : 0),
						implicit_out_tag : Output(index : 0)
					)
				),
				nodes : [
					Phi(index : 0),
					DefaultJoin,
					InlineJoin(funclet : 14, captures : [], continuation : 1),
					//JoinCall(operation : (funclet_id : 10, node_id : 1), funclet : 12, captures : [], continuation : 2)
				],
				//tail_edge : Jump( join : 3, arguments : [0] )
				tail_edge : ScheduleCall(value_operation : (funclet_id : 10, node_id : 1), callee_funclet_id : 12, callee_arguments : [0], continuation_join : 2)
				//tail_edge : ScheduleCall(value_operation : (funclet_id : 10, node_id : 1), callee_funclet_id : 12, callee_arguments : [0], continuation_funclet_id : 14, continuation_arguments : [] /*continuation_join : 1*/)
			),

			14 : (
				kind : ScheduleExplicit,
				input_types : [1],
				output_types : [1],
				spec_binding : ScheduleExplicit(
					value : (
						funclet_id_opt : Some(10),
						input_tags : [Node(node_id : 2)],
						output_tags : [Output(index : 0)]
					),
					spatial : (
						funclet_id_opt : Some(18),
						input_tags : [None],
						output_tags : [None]
					),
					timeline : (
						funclet_id_opt : Some(15),
						input_tags : [None],
						output_tags : [None],
						implicit_in_tag : Node(node_id : 2),
						implicit_out_tag : Output(index : 0)
					)
				),
				nodes : [
					Phi(index : 0),
				],
				tail_edge : Return(return_values : [0])
			),

			15 : (
				kind : Timeline,
				input_types : [2],
				output_types : [2],

				nodes : [
					Phi(index : 0),
					SubmissionEvent(here_place : Local, there_place : Gpu, local_past : 0),
					SynchronizationEvent(here_place : Local, there_place : Gpu, local_past : 1, remote_local_past : 1),
				],
				tail_edge : Return(return_values : [2])
			),

			16 : (
				kind : ScheduleExplicit,
				input_types : [3, 4, 3],
				output_types : [1],
				spec_binding : ScheduleExplicit(
					value : (
						funclet_id_opt : Some(9),
						input_tags : [Node(node_id : 3), None, Node(node_id : 0)],
						output_tags : [Output(index : 0)]
					),
					spatial : (
						funclet_id_opt : Some(18),
						input_tags : [None, None, None],
						output_tags : [None]
					),
					timeline : (
						funclet_id_opt : Some(15),
						input_tags : [Node(node_id : 1), Node(node_id : 1), Node(node_id : 1)],
						output_tags : [None],
						implicit_in_tag : Node(node_id : 1),
						implicit_out_tag : Node(node_id : 2)
					)
				),
				nodes : [
					Phi(index : 0),
					Phi(index : 1),
					Phi(index : 2),
					AllocTemporary(place : Local, storage_type : 0, operation : (funclet_id : 9, node_id : 3)),
					SyncFence(place : Local, fence : 1, event : (funclet_id : 15, node_id : 2)),
					EncodeCopy(place : Local, input : 0, output : 3),
				],
				tail_edge : Return(return_values : [3])
			),

			18 : (
				kind : Spatial,
				input_types : [7],
				output_types : [7],

				nodes : [
					Phi(index : 0),
				],
				tail_edge : Return(return_values : [0])
			),

		},
		value_functions : {
			0 : (name : "test_value_function", input_types : [0], output_types : [0], default_funclet_id : Some(9)),
		},
		/*scheduling_funclet_extras : {
			11 : (
				value_funclet_id_opt : Some(0),
				spatial_funclet_id_opt : Some(18),
				temporal_funclet_id_opt : Some(15),
				input_tag_sets : [ (value_tag : Input(funclet_id : 0, index : 0), timeline_tag : None, spatial_tag : None)],
				output_tag_sets : [ (value_tag : None, timeline_tag : None, spatial_tag : None)],
				in_timeline_tag : Input(funclet_id : 15, index : 0),
				out_timeline_tag : Output(funclet_id : 15, index : 0),
			),
			12 : (
				value_funclet_id_opt : Some(9),
				spatial_funclet_id_opt : Some(18),
				temporal_funclet_id_opt : Some(15),
				input_tag_sets : [ (value_tag : Input(funclet_id : 9, index : 0), timeline_tag : None, spatial_tag : None)],
				output_tag_sets : [ (value_tag : Output(funclet_id : 9, index : 0), timeline_tag : None, spatial_tag : None)],
				in_timeline_tag : Node(node_id : 0),
				out_timeline_tag : Node(node_id : 2),
			),
			13 : (
				value_funclet_id_opt : Some(10),
				spatial_funclet_id_opt : Some(18),
				temporal_funclet_id_opt : Some(15),
				input_tag_sets : [ (value_tag : Input(funclet_id : 10, index : 0), timeline_tag : None, spatial_tag : None)],
				output_tag_sets : [ (value_tag : Output(funclet_id : 10, index : 0), timeline_tag : None, spatial_tag : None )],
				in_timeline_tag : Input(funclet_id : 15, index : 0),
				out_timeline_tag : Output(funclet_id : 15, index : 0),
			),
			14 : (
				value_funclet_id_opt : Some(10),
				spatial_funclet_id_opt : Some(18),
				temporal_funclet_id_opt : Some(15),
				input_tag_sets : [ (value_tag : Node(node_id : 2), timeline_tag : None, spatial_tag : None )],
				output_tag_sets : [ (value_tag : Output(funclet_id : 10, index : 0), timeline_tag : None, spatial_tag : None)],
				in_timeline_tag : Node(node_id : 2),
				out_timeline_tag : Output(funclet_id : 15, index : 0),
			),
			16 : (
				value_funclet_id_opt : Some(9),
				spatial_funclet_id_opt : Some(18),
				temporal_funclet_id_opt : Some(15),
				input_tag_sets : [
					(value_tag : Node(node_id : 3), timeline_tag : Node(node_id : 1), spatial_tag : None ),
					(timeline_tag : Node(node_id : 1)),
					 (value_tag : Node(node_id : 0), timeline_tag : Node(node_id : 1), spatial_tag : None )
				],
				output_tag_sets : [ (value_tag : Output(funclet_id : 9, index : 0), timeline_tag : None, spatial_tag : None)],
				in_timeline_tag : Node(node_id : 1),
				out_timeline_tag : Node(node_id : 2),
			),
		},*/
		pipelines : [
			(name : "pipeline_with_value_function", entry_funclet : 13),
		]
	)
)